<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config" 
	status="WARN">
	<Properties>
		<Property name="rootPath">/logs/</Property>
	</Properties>
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%-5p | %d{MM/dd/yyyy HH:mm:ss} | [%t] %C{10} (%F:%L) - %m%n" />
		</Console>
		<RollingFile name="nodecode" fileName="${rootPath}/nodecode.log"
			filePattern="${rootPath}/nodecode.log.%d{MM-dd-yyyy}-%i.log"
			immediateFlush="false" append="true">
			<PatternLayout
				pattern="%-5p | %d{MM/dd/yyyy HH:mm:ss} | [%t] %C{10} (%F:%L) - %m%n" />
			 <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
			<Policies>
    			<OnStartupTriggeringPolicy />
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy/>
		</RollingFile>
		<RollingFile name="nodecode_error" fileName="${rootPath}/error.log"
			filePattern="${rootPath}/error.log.%d{MM-dd-yyyy}-%i.log"
			immediateFlush="false" append="true">
			<PatternLayout
				pattern="%-5p | %d{MM/dd/yyyy HH:mm:ss} | [%t] %C{10} (%F:%L) - %m%n" />
			 <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
			<Policies>
    			<OnStartupTriggeringPolicy />
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy/>
		</RollingFile>
	</Appenders>

	<Loggers>
		<AsyncLogger name="net.datascientists" level="info"
			includeLocation="true" additivity="false">
			<AppenderRef ref="nodecode" />
			<AppenderRef ref="nodecode_error" />
			<AppenderRef ref="STDOUT" />
		</AsyncLogger>
		<AsyncLogger name="org.hibernate.SQL" level="info"
			includeLocation="true" additivity="false">
			<AppenderRef ref="nodecode" />
		</AsyncLogger>
		<AsyncLogger name="org.hibernate.type" level="info"
			includeLocation="true" additivity="false">
			<AppenderRef ref="nodecode" />
		</AsyncLogger>
		<Root level="info" includeLocation="true">
			<AppenderRef ref="STDOUT" />
		</Root>
	</Loggers>

</Configuration>