.M_Module{
	display: none !important;
}
.M_Module_{
	display: none !important;
}
.M_Module__{
	display: none !important;
}
.M_IntroModule{
	display: none !important;
}
.F_ajsm{
	display: none !important;
}
.F_template{
	display: none !important;
}
.Q_linkedajsm{
	border: 2px solid #80ADDA !important;
	background: #92DAEA !important;
	border-radius: 30px;
}
.Q_linkedmodule{
	border: 2px solid #80ADDA !important;
	background: #92DAEA !important;
	border-radius: 30px;
}
.Q_processed{
	background: #CDCEB5 !important;
}
.Q_link{
	background: #DCCBEC !important
}
.badge-unprocessed {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: top;
    background-color: #A7B3E2;
    border-radius: 10px;
}
    
.editBox input{
	margin-left: 30px;
    margin-top: -20px;
}
.welcome{
	height: 190px;
    font-size: 22px;
    color: #2e3436;
}
.footer{
    font-size: 12px;
    color: #2e3436;
    
}
.typesetting{
	padding-left: 30px;
	background-color: #676262;
	float:right;
}
.normalcursor {
    cursor: auto !important;
}
.badge-multi {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: top;
    background-color: #A7B3E2;
    border-radius: 10px;
}
.badge-parent {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: top;
    background-color: #A7B3E2;
    border-radius: 10px;
}
.popover-content {
    padding: 3px 5px 0px 5px !important;
}
.badge-deleted {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: top;
    background-color: #A54949;
    border-radius: 10px;
}
.btn-save {
	padding: 4px 4px !important;
    font-size: 14px !important; 
    color: #fff !important;
    background-color: #7D89B7 !important;
    border-color: #7D89B7 !important;
}
.btn-success {
    color: #fff;
    background-color: #7D89B7 !important;
    border-color: #7D89B7 !important; 
}
.btn-success:hover {
    color: #fff;
    background-color: #505875 !important;
    border-color: #2F3446 !important;
}

.angular-ui-tree-placeholder-warning {
    background: #FFF0F0 !important;
    border: 2px dashed #A02713 !important;
}

/**Module table*/
.moduleTable td:last-child {
  min-width: 90px;
}
/**Node Types*/
.M_Interview {
    font-size: 24px;
    color: #676262 !important;
}
.I_interviewresult {
    font-size: 24px;
    color: #676262 !important;
    height: 40px;
}
.M_interviewresult {
    font-size: 24px;
    color: #676262 !important;
    height: 40px;
}
.M{
	height: 110px;
    font-size: 22px;
    background: #676262  !important;
    color: #D7DFE4 !important;
    width:100%
}
.F{
	height: 110px;
    font-size: 22px;
    background: #676262  !important;
    color: #D7DFE4 !important;
    width:100%
}
.Q{
	height: 40px;
    padding-left: 20px;
    
    border-bottom: 2px solid;
    border-bottom-color: #4657B7;
    
}
.Q_interviewresult{
	height: 40px;
    padding-left: 20px;
    border-bottom: 2px solid;
    border-bottom-color: #4657B7;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
.P{
	height: 40px;
    padding-left: 20px;
    background: #FDFBF5 !important;
    border-bottom: 1px solid;
    border-bottom-color: #C79B1C; !important;

}
.P_interviewresult{
	height: 40px;
    padding-left: 20px;
    background: #FDFBF5 !important;
    border-bottom: 1px solid;
    border-bottom-color: #C79B1C; !important;    
    overflow: hidden;
    text-overflow: ellipsis;    
}

/** Editable table
------------------------- */

.editable-table > tbody > tr > td {
  padding: 4px
}
.editable-text {
  padding-left: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: inline-block;
}
.editable-table tbody > tr > td > .controls {
  //width: 100%
}
.editable-input {
  padding-left: 3px;
}
.editable-input.input-sm {
  height: 30px;
  font-size: 14px;
  padding-top: 4px;
  padding-bottom: 4px;
}

/** Tabs*/
md-tab-content {
  overflow: auto;
}

md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
  min-height: !important 500px;
}

.tabsdemoDynamicTabs md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicTabs md-content md-tabs {
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicTabs md-content md-tabs md-tab-content {
      background: #f6f6f6; }
    .tabsdemoDynamicTabs md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabsdemoDynamicTabs md-content h1:first-child {
    margin-top: 0; }
.tabsdemoDynamicTabs md-input-container {
  padding-bottom: 0; }
.tabsdemoDynamicTabs .remove-tab {
  margin-bottom: 40px; }
.tabsdemoDynamicTabs .demo-tab > div > div {
  padding: 25px;
  box-sizing: border-box; }
.tabsdemoDynamicTabs .edit-form input {
  width: 100%; }
.tabsdemoDynamicTabs md-tabs {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
.tabsdemoDynamicTabs md-tab[disabled] {
  opacity: 0.5; }
.tabsdemoDynamicTabs label {
  text-align: left; }
.tabsdemoDynamicTabs .long > input {
  width: 264px; }
.tabsdemoDynamicTabs .md-button.add-tab {
  transform: translateY(5px); }
  
  /** Slider */
#fragdropcontainer {
    position: fixed;
    z-index: 100000;
    height: 80%;
    right: 0px;
    bottom: 5%;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.frag-contain {
    position: relative;
    height: 100%;
    width: 310px;
}

#fragdropcontainer .fragmentSticker {
    cursor: pointer;
    float: left;
    width: 88px;
    height: 30px;
    left: 2px;
    top: 63px;
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    white-space: nowrap;
    color: #fff;
    padding: 5px 0px 0px 10px;
}
    
#fragdropcontainer .fragmentSticker {
    background: #797979;
    border-radius: 5px 5px 0px 0px;
}

.slideFrag {
    right: -310px!important;
}  

#agentDropContainer{
	position: fixed;
    z-index: 100000;
    height: 80%;
    left: 0px;
    bottom: 5%;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.agent-contain {
    position: relative;
    height: 100%;
    width: 310px;
}

#agentDropContainer .agentSticker {
   cursor: pointer;
    float: left;
    width: 120px;
    height: 30px;
    left: 340px;
    top: 95px;
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    white-space: nowrap;
    color: #fff;
    padding: 5px 0px 0px 10px;
    text-align: center;
}
    
#agentDropContainer .agentSticker {
    background: #797979;
    border-radius: 0px 0px 5px 5px;
}

.agent-contain .panel-title{
    font-size: .8em;
}  

.agent-contain .panel-body li{
    font-size: .7em;
}  


.slideFragLeft {
    left: -310px!important;
}

label, input, button, select, textarea {
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
}

label.fraglabel {
	display: block;
    border: solid 1px #797979;
    margin-bottom: 0px;
    text-align: left;
    color: #FFF;
    background-color: #797979;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    padding: 5px 5px 5px 10px;
}  

#agentDragDrop{
	border: solid 2px #686868;
    background-color: #E9E9E9;
    overflow: auto;
    height: 100%;
}

#fragmentsdragdrop {
    border: solid 2px #686868;
    background-color: #E9E9E9;
    overflow: auto;
    height: 100%;
}
  
  .border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#fragmentsdragdrop .panel-title{
    font-size: .8em;
}  

.dialogdemoBasicUsage #popupContainer {
  position: relative;
}
.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px;
}
.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px;
}
.fixedHeader{
	z-index: 9999;
    position: fixed;
    top: 100px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    padding-right: 15px;
    padding-left: 15px;
}

.selected{
    border: 0;
    background: #7c9eb2;
}

.agentheader{
	color: #FFF;
	font: 13px/1.7em 'Open Sans';
}

.verticalagents{
	height: 110px;
    border-left: aliceblue solid 1px;
    width: auto;
}

.verticalrules{
	height: 40px;
    border-left: aliceblue solid 1px;
    width: auto;
    display:inline;
}

.probHigh{
    width: 6px;
    height: 6px;
    background: #ff0000;
    border-radius: 2px;
    float: left;
}
.assessment.probHigh{
	width: 23px;
    height: 23px;
    background: rgb(214, 58, 58);
    border-radius: 2px;
    float: left;
}

.probMedium{
	width: 6px;
    height: 6px;
    background: #ffa500;;
    border-radius: 2px;
    float: left;
}
.assessment.probMedium{
	width: 23px;
    height: 23px;
    background: #ffa500;;
    border-radius: 2px;
    float: left;
}
.probLow{
	width: 6px;
    height: 6px;
    background: #ffff00;
    border-radius: 2px;
    float: left;
}
.assessment.probLow{
	width: 23px;
    height: 23px;
    background: #E8E853;
    border-radius: 2px;
    float: left;
}
.probUnknown{
	width: 6px;
    height: 6px;
    background: #ffc0cb;
    border-radius: 2px;
    float: left;
}
.assessment.probUnknown{
	width: 23px;
    height: 23px;
    background: #ffc0cb;
    border-radius: 2px;
    float: left;
}
.possUnknown{
	width: 6px;
    height: 6px;
    background: #add8e6;
    border-radius: 2px;
    float: left;
}
.assessment.possUnknown{
	width: 23px;
    height: 23px;
    background: #add8e6;
    border-radius: 2px;
    float: left;
}
.noExposure{
	width: 6px;
    height: 6px;
    background: #e5e5e5;
    border-radius: 2px;
    float: left;
}
.assessment.noExposure{
	width: 23px;
    height: 23px;
    background: #e5e5e5;
    border-radius: 2px;
    float: left;
}	

.rulescontainer {
    position: relative;
    width: 27px;
    height: 40px;
    border-right: solid aliceblue 1px;
    float: left;
}

.agentcontainer {
    position: relative;
    width: 27px;
    height: 110px;
    border-right: solid aliceblue 1px;
    float: left;
}

.rotatedagenttext {
    display: block;
    font-size: 0.7em;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: left top 0;
    -moz-transform: rotate(-90deg);
    -moz-transform-origin: left bottom;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin: left bottom;
    -o-transform: rotate(-90deg);
    -o-transform-origin: left bottom;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    white-space: nowrap;
    position: relative;
    bottom: 4px;
    position: absolute;
    left: 23px;
}

.agentACell {
    width: 28px;
    height: 28px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    line-height: 21px;
    color: #FFF;
    border: 3px solid #FFF;
    box-shadow: 1px 1px 3px rgba(0,0,0,.4);
    text-shadow: 1px 1px 2px rgba(0,0,0,.4);
    margin: -15px 2px 0px 2px;
    float: left;
    overflow: hidden;
    background: #686868;
}

.assessmentDescription {
    width: 100px;
    height: 28px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    line-height: 21px;
    color: #FFF;
    border: 3px solid #FFF;
    box-shadow: 1px 1px 3px rgba(0,0,0,.4);
    text-shadow: 1px 1px 2px rgba(0,0,0,.4);
    margin: -15px 2px 0px 2px;
    float: left;
    overflow: hidden;
    background: #686868;
}

/** Rules Dialog */
/* * Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
	display: none !important;
	visibility: hidden;
}

/* * Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* * Extends the .visuallyhidden class to allow the element to be focusable * when navigated to via the keyboard: h5bp.com/p */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
} /* * Hide visually and from screenreaders, but maintain layout */

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}
.noflick {
	perspective: 1000;
	backface-visibility: hidden;
	transform: translate3d(0,0,0);
}
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
* {
	box-sizing: border-box;
}
html,
button,
input,
select,
textarea {
	color: #000000;
}

body {
	font-size: 1em;
	line-height: 1;
	background-color: rgba(255,255,255,1);
	background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 47%, rgba(222,222,222,1) 100%);
}

::selection {
	background: #B3D4FC;
	text-shadow: none;
}
a:focus {
	outline: none;
}
::-webkit-input-placeholder {
	color: rgba(0,0,0,.7);
}

:placeholder {
	/* Firefox 18- */
	color: rgba(0,0,0,.7);
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#board {
	padding: 100px 30px 30px;
	margin-top: 40px;
	overflow-y: visible;
	@extend .noflick;
}
.note {
	float: left;
	display: block;
	position: absolute;
	top:0px;
	left:530px;
	padding: 0 0 0 0;
	width: 190px;
	min-height: 130px;
	margin: 0 30px 30px 0;
	background: #4478a0;
	box-shadow: 0px 0px 8px rgba(68, 140, 160, 0.5);
	font-size:11px;
	z-index: 1050;
	@extend .noflick;

	&:hover {
		cursor: move;
	}
	&.ui-draggable-dragging:nth-child(n) {
		box-shadow: 5px 5px 15px 0 rgba(0,0,0,.3);
		transform: scale(1.125) !important;
		z-index: 1050;
		cursor: move;
		transition: transform .150s;
	}

	textarea {
		background-color: transparent;
		border: none;
		resize: vertical;
		font-family: "Gloria Hallelujah", cursive;
		width: 100%;
		padding: 5px;
		&:focus {
			outline: none;
			border: none;
			box-shadow: 0 0 5px 1px rgba(0,0,0,.2) inset;
		}
		&.title {
			font-size: 24px;
			line-height: 1.2;
			color: #000000;
			height: 64px;
			margin-top: 20px;
		}
		&.cnt {
			min-height: 200px;
		}
	}
	&:nth-child(2n) {
		background: #FAAACA;
	}
	&:nth-child(3n) {
		background: #69F098;
	}
}

.note .panel-body{
	padding: 0 0 0 0;
}

.note .title {
  color: #fff;
  font-weight: bold;
  text-align: center;
  border: 1px solid #5189B5;
  border-width: 0px 0px 1px 0px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0px 16px;
  background: #5C9CCE;
  box-shadow: 0px 1px 4px rgba(68, 120, 160, 0.1);
  font-size: 12px;
  line-height:2em;
  border-radius: 10px;
}

.note input[type=text]{
  color: #fff;
  border: 0;
  outline: 0;
  resize: none;
  width:50px;
  margin-top: -27px;
  border-bottom: 1px dotted rgba(250, 250, 250, 0.4);
  background:#5d92ba;
}

.note .nodeNumber:hover {
	background-color: #e2e2e2;
}

.int-note {
	float: left;
	display: block;
	position: absolute;
	top:0px;
	left:530px;
	padding: 0 0 0 0;
	width: 190px;
	min-height: 130px;
	margin: 0 30px 30px 0;
	background: #03a4e0;
	box-shadow: 0px 0px 8px rgba(68, 140, 160, 0.5);
	font-size:11px;
	z-index: 1050;
	@extend .noflick;

	&:hover {
		cursor: move;
	}
	&.ui-draggable-dragging:nth-child(n) {
		box-shadow: 5px 5px 15px 0 rgba(0,0,0,.3);
		transform: scale(1.125) !important;
		z-index: 1050;
		cursor: move;
		transition: transform .150s;
	}

	textarea {
		background-color: transparent;
		border: none;
		resize: vertical;
		font-family: "Gloria Hallelujah", cursive;
		width: 100%;
		padding: 5px;
		&:focus {
			outline: none;
			border: none;
			box-shadow: 0 0 5px 1px rgba(0,0,0,.2) inset;
		}
		&.title {
			font-size: 24px;
			line-height: 1.2;
			color: #000000;
			height: 64px;
			margin-top: 20px;
		}
		&.cnt {
			min-height: 200px;
		}
	}
	&:nth-child(2n) {
		background: #FAAACA;
	}
	&:nth-child(3n) {
		background: #69F098;
	}
}

.int-note .title {
  color: #fff;
  font-weight: bold;
  text-align: center;
  border: 1px solid #5189B5;
  border-width: 0px 0px 1px 0px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0px 16px;
  background: #41e0e9;
  box-shadow: 0px 1px 4px rgba(68, 120, 160, 0.1);
  font-size: 12px;
  line-height:2em;
  border-radius: 10px;
}

.int-note .table{
	background: #9ee2ad;
}

.table .probHigh {
	width: 8px;
	height: 8px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: #ff0000;
}

.table .probMedium {
	width: 8px;
	height: 8px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: #ffa500;
}

.table .probLow {
	width: 8px;
	height: 8px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: #ffff00;
}

.table .probUnknown {
	width: 8px;
	height: 8px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: #ffc0cb;
}

.table .possUnknown {
	width: 8px;
	height: 8px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: #add8e6;
}

.table .noExposure {
	width: 8px;
	height: 8px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: #e5e5e5;
}

.activeIntRuleCell{
	color: rgba(255, 23, 0, 0.76);
}

.highlight{
	-webkit-animation-name: blink; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: blink;
    animation-duration: 5s;
}

@-webkit-keyframes blink {
    from {background-color: #FDFBF5;}
    to {background-color: #e7ce83;}
}

@keyframes blink {
    from {background-color: #FDFBF5;}
    to {background-color: #e7ce83;}
}

#add_new {
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 100;
}

.moduleInterview{
    overflow: scroll; height: 700px;
}

.highlight-interview{
    background: #DDDFE8;
}

/** UI Tree*/
.angular-ui-tree .btn {
    margin-right: 8px;
}

.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    min-height: 38px !important;
    padding-top: 8px;
}
.angular-ui-tree-nodes {
    padding-left: 0px; 
}
.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

tr.angular-ui-tree-empty {
    height:500px
}


.tree-node {
    border: 1px solid #dae2ea;
    background: #f8faff;
    color: #7c9eb2;
}
.tree-spacer-div{
	padding: 0px 10px 10px 10px;
}
/* --- End Tree --- */
.angular-ui-tree .group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}

.angular-ui-tree .warning {
    border: 2px solid #C53E3E !important;
}

.angular-ui-tree .nodrop {
    background-color: #f2dede;
}

.angular-ui-tree .tree-node-content {
    /* margin: 10px; */
    
}
.angular-ui-tree .tree-handle {

    background: #E3F0F6;
    color: #7D89B7;

}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0.0; }
}

.popoverTitle {
  color: #fff;
  font-weight: bold;
  text-align: center;
  border: 1px solid #5189B5;
  border-width: 0px 0px 1px 0px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0px;
  margin-top: 0px;
  background: #5C9CCE;
  box-shadow: 0px 1px 4px rgba(68, 120, 160, 0.1);
  font-size: 12px;
  line-height:2em;
}
.interview-radio-button {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	
}
md-checkbox {
  margin: 8px;
  cursor: pointer;
  padding-left: 18px;
  padding-right: 0;
  line-height: 26px;
  min-width: 18px;
  min-height: 18px;
}
md-checkbox.md-checked.green .md-icon {
 background-color: rgba(199, 155, 28, 0.81);
}
.interview-radio-button:not([disabled]).md-primary .md-on {
    background-color: rgba(199, 155, 28, 0.81) !important;
}

.activeRule{
	border: 2px solid rgb(9, 16, 72);
	border-radius: 10px;  
	background-color: rgb(19, 59, 90) !important;	
}

.activeCell{
	border-color:rgb(19, 59, 90);
}

.activeRule .title{
	background-color:rgb(19, 59, 90) !important;
}

.activeRule input[type=text]{
  background:rgb(19, 59, 90) !important;
}
md-toolbar.interviewAnswers{
   background-color: rgb(30, 42, 109) !important;	
   border: 1px solid #5189B5;
   border-radius: 10px;  
   font-size: 12px !important;	
}
md-list-item.interviewAnswers{
	min-height: 12px !important;	
}
.treeNodeText{
	display: inline-block;
    max-width: 700px;
    
}
.btn {  
    vertical-align: top !important;	
}
.firedRulesWrapper{
	height: 175px;
    overflow: auto;
    background: #F8FAFF;
    border: 1px solid #DAE2EA;
}
.firedRulesScroller{
	float: left;
    margin-right: -30000px;
    padding-left: 20px;
}
.assessmentWrapper{
	height: 275px;
    overflow: auto;
    background: #F8FAFF;
    border: 1px solid #DAE2EA;
}
.backgroundNoise{
    background: #F8FAFF;
}
 .form-control-edit {
	width:50% !important;	
}
.interviewNotesButton{
	color: rgba(0,0,0,0.87) !important;
    background-color: rgb(250,250,250) !important;
}
.awesidwarning{
	border-color: rgb(221,44,0) !important;
	color: rgb(221,44,0) !important;
}
.md-dialog-container{
	z-index: 80 !important;
}

li.borderless { 
	border-left: 0 none !important;
	border-right: 0 none !important;
	border-bottom: 0 none !important;
 }
 
/*  Fired Rules  */
.moduleGap{
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    margin-top: 0px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    padding-left: 0px !important;
}

.moduleGap .badge{
	background-color:#800000 !important;
}

.questionGap{
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    margin-top: 0px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    padding-left: 5px !important;
}

.questionGap .badge{
	background-color:#20B2AA !important;
}

.answerGap{
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 5px !important;
}

.answerGap .badge{
	background-color:#32CD32 !important;
}

.firedrules_probLow{
	background: #ffff00;
}
.firedrules_probMedium{
	background: #ffa500;
}
.firedrules_noExposure{
	background: #e5e5e5;
}
.firedrules_possUnknown{
	background: #add8e6;
}
.firedrules_probHigh{
	background: #ff0000;
}
.firedrules_probUnknown{
	background: #ffc0cb;
}
.red{
   color: red;
}
/* admin */
.multiSelect {
    overflow: auto;
}
.multiSelect .select {
    margin-right: 20px;
    float: left;
}
.multiSelect .text {
    clear: both;
    font-size: 11px;
}
.multiSelect label::after {
    content: ":";
}
.btn.mover {
    display: block;
    margin-top: 0px;
    vertical-align: top;
}
.btn.mover.left {
}
.btn.mover.right {
    margin-top: 8px;
}
.btn.mover i {
    margin: 0;
}


.fixedDialog{
    position: fixed;
}