<md-dialog aria-label="Change Password" style="margin:0 0 0 0;padding:0 0 0 0;"
	ng-cloak> <!-- <pre>{{data | json}}</pre> -->
<form>
	<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>Change Password - {{vm.userId}}</h2> 
		<span flex></span>
		<md-button class="md-icon-button" ng-click="cancel()"> <span
			class="glyphicon glyphicon-remove" aria-hidden="true"></span> </md-button>
	</div>
	</md-toolbar>
	<md-dialog-content style="width:510px;">
	<div class="md-dialog-content">
		<div layout="column" ng-cloak class="md-inline-form">
			<md-content>
			<form name="existingUserForm" class="navbar-form navbar-left"
				id="existingUserForm" ng-submit="existingUserForm.$valid && changePasswordBtn()">
				<md-input-container class="md-block" flex-gt-sm>
					<label>*Current Password</label> <input type="password" required 
						maxlength="20" name="password" placeholder="Enter Current Password"
						ng-model="vm.passwordVO.currentPassword" />
					</md-input-container>
				<md-input-container class="md-block" flex-gt-sm>
					<label>*New Password</label> <input type="password" required 
						maxlength="20" name="password" placeholder="Enter New Password"
						ng-model="vm.passwordVO.newPassword" />
					</md-input-container>
					<md-input-container class="md-block" flex-gt-sm>
					<label>*Retype New Password</label> <input type="password" required 
						maxlength="20" name="password" placeholder="Retype New Password"
						ng-model="vm.passwordVO.retypeNewPassword" />
					</md-input-container>
				<md-dialog-actions layout="row">
					<md-button ng-click="cancel()" class="md-raised">Cancel</md-button>
					<md-button type="submit" ng-click="changePasswordBtn()" class="md-raised">Submit</md-button>
				</md-dialog-actions>
			</form>
			</md-content>
		</div>
	</div>
	</md-dialog-content>
</form>
</md-dialog>