<div ng-cloak>
	<div>
		<table ng-table="vm.tableParams" ng-cloak
		class="table table-bordered table-hover 
  table-condensed editable-table" show-filter="true">
			<tr ng-repeat="user in $data">
				<td title="'Username'" filter="{ ssoId: 'text'}" sortable="'ssoId'">
					{{user.ssoId}}</td>
				<td title="'Firstname'" filter="{ firstName:'text'}" sortable="'firstName'">
					{{user.firstName}}</td>
				<td title="'Lastname'" filter="{ lastName:'text'}" sortable="'lastName'">
					{{user.lastName}}</td>
				<td title="'Email'" filter="{ email:'text'}" sortable="'email'">
					{{user.email}}</td>
				<td title="'State'" filter="{ state:'text'}" sortable="'state'">
					{{user.state}}</td>
				<td title="'Role'" filter="{ id:'text'}" sortable="'id'">
					{{user.userProfiles}}
				</td>
			</tr>
		</table>
	</div>
</div>
