<div ng-cloak>
   <md-content class="md-padding">
    <md-tabs md-selected="selectedIndex"  md-border-bottom md-autoselect md-dynamic-height md-enable-disconnect='true'>
      <md-tab ng-repeat="tab in tabs" ng-disabled="tab.disabled" layout-fill>
      	<md-tab-label>
        <span context-menu="tabMenu(tab)">{{tab.title}}</span>
          <span ng-click="removeTab(tab)" ng-if="tab.canClose">
              <span class="glyphicon glyphicon-remove" style="margin-left:3px"/>
          </span>
        </md-tab-label>
        <md-tab-body ng-cloak ng-class="tab.style" layout="column" layout-fill >
                <div class="tab{{$index%4}}" >
                	<md-progress-circular ng-if="tabsLoading" md-mode="indeterminate"></md-progress-circular>
					<ng-view ng-cloak ui-view="{{tab.viewName}}" ng-if="tab.viewName != null">
					</ng-view>
         		</div>
        </md-tab-body>
      </md-tab>
    </md-tabs>
    
  </md-content>
  
  <!-- <pre>  Doing the turn off {{ turnOffProgressBar() }}</pre> -->
</div>