<div ng-controller="LoginCtrl as vm">
<div ng-if="vm.isAuthenticated" ng-cloak>
<ul class="nav nav-pills pull-right">
  <li>
  	Welcome {{vm.userId}}
  	<md-menu>
      <md-button aria-label="Open phone interactions menu" 
      				class="md-icon-button" 
      				ng-click="vm.openMenu($mdOpenMenu, $event)">
        <span class="glyphicon glyphicon-user"></span>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item>
          <md-button ng-click="vm.showChangePasswordDialog()">
           <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
            Change Password
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ui-sref="logout">
            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
            &nbsp;
            Sign Out
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
<!--   	<a ui-sref="logout" >Sign out {{vm.userId}}</a> -->
  	</li>
</ul>
<h3 class="text-muted">Node Code 1.0.0
	<!-- <span permission="['ROLE_READONLY']" class="badge btn-warning">
		READ-ONLY MODE
	</span> -->	
</h3>
</div>
<div ng-if="!vm.isAuthenticated" ng-cloak>
	<div ng-include="'scripts/login/view/login.html'"></div>
</div>



</div>