<md-dialog aria-label="Change Password" style="margin:0 0 0 0;padding:0 0 0 0;"
	ng-cloak> <!-- <pre>{{data | json}}</pre> -->
	<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>Change Password - {{existingUser.userName}}</h2> 
		<span flex></span>
		<md-button class="md-icon-button" ng-click="vm.cancel()"> <span
			class="glyphicon glyphicon-remove" aria-hidden="true"></span> </md-button>
	</div>
	</md-toolbar>
	<md-dialog-content style="width:510px;">
	<div class="md-dialog-content">
		<div layout="column" ng-cloak class="md-inline-form">
			<md-content>
			<form name="existingUserForm" class="navbar-form "
				id="existingUserForm" ng-submit="vm.changePasswordBtn(existingUser)" novalidate>
				<md-input-container class="md-block" flex-gt-sm>
					<label>*Password</label> 
					<input type="password" required ng-minlength="6" ng-maxlength="12" name="password"	ng-model="existingUser.newPassword" password-characters-validator/>
					<div class="help-block" ng-messages="existingUserForm.password.$error" ng-if="existingUserForm.password.$touched">
					        <p ng-message="required">password is required.</p>
					         <p ng-message="minlength">password is too short.</p>
					        <p ng-message="maxlength">password is too long.</p>
					         <p ng-message="passwordCharacters">Your password must contain a number, uppercase and lowercase letters as well as one or more special characters</p>
					        
					    </div>
					</md-input-container>
				<md-dialog-actions layout="row">
					<md-button ng-click="vm.cancel()" class="md-raised">Cancel</md-button>
					<md-button ng-disabled="existingUserForm.$invalid" type="submit" ng-click="vm.changePasswordBtn(existingUser)" class="md-raised">Submit</md-button>
				</md-dialog-actions>
			</form>
			</md-content>
		</div>
	</div>
	</md-dialog-content>
</md-dialog>