<div ng-cloak>
	<button class="btn btn-default" aria-label="Left Align" ng-click="vm.exportJMX()">
		<span class="glyphicon glyphicon-export" aria-hidden="true"></span>
		Export JMX File
	</button>
	<div>
		<table ng-table="vm.tableParams" ng-cloak
			class="table table-bordered table-hover 
  table-condensed editable-table"
			show-filter="true">
			<tr ng-repeat="logs in $data">
				<td width="1%" style="text-align: left" header="'ng-table/headers/checkbox.html'">
						<input type="checkbox" style="position:static;" ng-model="checkboxes.items[logs.id]" />
				</td>
				<td width="15%" title="'Session Id'" filter="{ sessionId: 'text'}"
					sortable="'sessionId'">{{logs.sessionId}}</td>
				<td width="15%" title="'Username'" filter="{ userId:'text'}"
					sortable="'userId'">{{logs.userId}}</td>
				<td width="10%" title="'Function'" filter="{ function:'text'}"
					sortable="'function'">{{logs.function}}</td>
				<td width="10%" title="'Created Date'" filter="{ state:'text'}"
					sortable="'createdDate'">{{logs.createdDate | date:'yyyy/MM/dd hh:mm:ss'}}</td>
			</tr>
		</table>
	</div>
</div>
<script type="text/ng-template" id="ng-table/headers/checkbox.html">
     <input type="checkbox" style="position:static;" ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value="" />
</script>